.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.button {
  height: 36px;
  border-radius: 4.5px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: rgb(112, 117, 122);
  background-color: white;
  padding-left: 9px;
  padding-right: 9px;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  color: rgb(112, 117, 122);
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #f1f3f4;
  border: none;
  border-radius: 9px;
  width: 400px;
  height: 320px;
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(112, 117, 122, 0.3);
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: white;
  padding: 18px;
  border: 1px solid;
  border-radius: 9px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 18px;
  padding-left: 78px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  color: rgb(112, 117, 122);
  border-bottom: 1px solid;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation > * {
  margin-left: 10px;
}
.navigation__today-btn {
  margin-left: 18px;
}
.navigation__nav-icon {
  margin-left: 18px;
}
.navigation__displayed-month {
  font-size: 22.5px;
  margin-left: 18px;
}

.create-event-btn {
  border-radius: 18px;
}
.create-event-btn__text {
  padding-left: 9px;
}
@media screen and (max-width: 560px) {
  .create-event-btn__text {
    display: none;
  }
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 18px;
}
.calendar__body {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.calendar__header {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-right: 18px;
  position: fixed;
  top: 73px;
  background-color: white;
  z-index: 3;
  width: 100%;
}
.calendar__week-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 150px;
  width: 100%;
}
.calendar__week {
  border-left: 1px solid;
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.calendar__day {
  width: 15%;
  position: relative;
}
.calendar__time-slot {
  height: 60px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  position: relative;
}
.calendar__day-label {
  height: 90px;
  width: 14.11%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.calendar__time-scale {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}
.calendar__red-line {
  width: 100%;
  background-color: red;
  height: 2px;
  position: relative;
}
.calendar__red-dot {
  width: 10px;
  background-color: red;
  height: 10px;
  position: relative;
  border-radius: 50%;
  left: -5px;
}

.time-slot {
  height: 60px;
  width: 100%;
}
.time-slot__time {
  top: 50px;
  position: relative;
}

.day-label__day-name {
  font-size: 13.5px;
}
.day-label__day-namber {
  font-size: 22.5px;
}
.day-label__day-namber_current {
  background-color: #1a73e8;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
}

.create-event {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}
.create-event__close-btn {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  margin: 9px;
  border: none;
  transform: rotate(45deg);
  font-size: 22.5px;
  color: #3c4043;
  background-color: #f1f3f4;
}
.create-event__close-btn:hover {
  background-color: rgb(112, 117, 122);
  color: white;
}

.event-form {
  display: flex;
  flex-direction: column;
  height: 284px;
  width: 400px;
  padding: 18px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  font-size: 22.5px;
}
.event-form__field {
  margin-top: 18px;
  border: none;
  border-bottom: 2px solid rgb(112, 117, 122);
  color: rgb(112, 117, 122);
  height: 36px;
  font-size: 18px;
  width: auto;
}
.event-form__field[name=title] {
  width: 360px;
}
.event-form__field[name=description] {
  width: 360px;
}
.event-form__field:hover {
  border: none;
  border-bottom: 2px solid #1a73e8;
}
.event-form__field:focus {
  border: none;
  border-bottom: 2px solid #1a73e8;
  outline: none;
}
.event-form__time {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.event-form__submit-btn {
  border: none;
  height: 36px;
  width: 68.5px;
  align-self: flex-end;
  border-radius: 4.5px;
  margin-top: auto;
  background-color: #1a73e8;
  color: white;
}

.event {
  border: 1px solid;
  color: white;
  background-color: #6495ed;
  width: 120px;
  border-radius: 5px;
  z-index: 2;
}
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(112, 117, 122);
  border-color: rgb(112, 117, 122);
}

/*# sourceMappingURL=styles.css.map */
