// стили сетки календаря и заголовка календаря с днями недели
@import "variables.scss";

.calendar {
  display: flex;
  flex-direction: column;
  &__body {
    display: flex;
    flex-direction: row;
  }
  &__week-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 180px;
  }
  &__week {
    border-left: 1px solid;
    border-top: 1px solid;
    display: flex;
    flex-direction: row;
  }
  &__day {
    width: 120px;
    position: relative;
  }
  &__time-slot {
    height: 60px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: relative;
  }
  &__header {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    padding-right: 2px;
    position: fixed;
    top: 60px;
    background-color: white;
    z-index: 3;
  }
  &__day-label {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  &__time-scale {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }
  &__red-line {
    width: 100%;
    background-color: red;
    height: 2px;
    position: relative;
  }
  &__red-dot {
    width: 10px;
    background-color: red;
    height: 10px;
    position: relative;
    border-radius: 50%;
    left: -5px;
  }
}

.time-slot {
  height: 60px;
  &__time {
    top: 50px;
    position: relative;
  }
}

.day-label {
  &__day-namber {
    &_current {
      background-color: $akcent-color;
      border-radius: 50%;
      height: 36px;
      width: 36px;
      line-height: 40px;
      text-align: center;
      color: white;
    }
  }
}
