// стили сетки календаря и заголовка календаря с днями недели
@import "variables.scss";

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: $main-font-size;
  &__body {
    display: flex;
    flex-direction: row;
    width: 100%;
    // position: relative;
  }
  &__header {
    display: flex;
    flex-direction: row;
    // padding: $main-font-size;
    padding-left: 60px;
    padding-right: $main-font-size;
    // padding-top: $main-font-size;
    // padding-right: 2px;
    position: fixed;
    top: 73px;
    background-color: $main-bg-color;
    z-index: 3;
    width: 100%;
  }
  &__week-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: (60px + (5 * $main-font-size));
    width: 100%;
  }
  &__week {
    border-left: 1px solid;
    border-top: 1px solid;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &__day {
    width: 15%;
    position: relative;
  }
  &__time-slot {
    height: 60px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: relative;
  }
  &__day-label {
    height: (5 * $main-font-size);
    width: 14.11%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  &__time-scale {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }
  &__red-line {
    width: 100%;
    background-color: $red-color;
    height: 2px;
    position: relative;
  }
  &__red-dot {
    width: 10px;
    background-color: $red-color;
    height: 10px;
    position: relative;
    border-radius: 50%;
    left: -5px;
  }
}

.time-slot {
  height: 60px;
  width: 100%;
  &__time {
    top: 50px;
    position: relative;
  }
}

.day-label {
  &__day-name {
    font-size: $lower-font-size;
  }
  &__day-namber {
    font-size: $hier-font-size;
    &_current {
      background-color: $akcent-color;
      border-radius: 50%;
      height: (2 * $hier-font-size);
      width: (2 * $hier-font-size);
      line-height: (2 * $hier-font-size);
      text-align: center;
      color: $main-bg-color;
    }
  }
}
