@import "variables.scss";

.button {
  height: ($main-font-size * 2);
  border-radius: $main-border-radius;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  font-size: $main-font-size;
  font-weight: 500;
  color: $main-color;
  background-color: $main-bg-color;
  padding-left: ($main-font-size / 2);
  padding-right: ($main-font-size / 2);
  &:hover {
    background-color: $main-color-light;
    box-shadow: $popup-shadow;
  }
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  color: $main-color;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #f1f3f4;

    border: none;
    border-radius: $modal-border-radius;
    width: 400px;
    height: 320px;
    display: flex;
    box-shadow: $popup-shadow;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 10;
}

.popup {
  &__content {
    height: $main-font-size * 7;
    position: absolute;
    background: $main-bg-color;
    padding: $main-font-size;
    border-radius: $modal-border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: $popup-shadow;
  }
}

.edit-event-btn,
.delete-event-btn {
  width: 120px;
  border: none;
  border-bottom: 2px solid $main-color;
  color: $main-color;
  background-color: $main-bg-color;
  height: $main-font-size * 2;
  font-size: $main-font-size;
  &:hover {
    border-color: $akcent-color;
    box-shadow: $popup-shadow;
  }
}

.hidden {
  display: none;
}
