@import "variables.scss";

.button {
  height: ($main-font-size * 2);
  border-radius: $main-border-radius;
  border: 1px solid $main-color;
  outline: none;
  cursor: pointer;
  font-size: $main-font-size;
  font-weight: 500;
  color: $main-color;
  background-color: $main-bg-color;
  padding-left: $main-font-size;
  padding-right: $main-font-size;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  color: $main-color;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: $main-bg-color;
    padding: $main-font-size;
    border: 1px solid;
    border-radius: $modal-border-radius;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $main-color;
  z-index: 10;
}

.popup {
  &__content {
    position: absolute;
    background: $main-bg-color;
    padding: $main-font-size;
    border: 1px solid;
    border-radius: $modal-border-radius;
  }
}

.hidden {
  display: none;
}
