// стили формы события внутри модального окна
.create-event {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  &__close-btn {
    border-radius: 50%;
    height: $lower-font-size * 2;
    width: $lower-font-size * 2;
    margin: $main-font-size / 2;
    border: none;
    transform: rotate(45deg);
    font-size: $hier-font-size;
    color: $main-color-dark;
    background-color: $main-color-light;
    &:hover {
      background-color: $main-color;
      color: $main-bg-color;
    }
  }
}
.event-form {
  display: flex;
  flex-direction: column;
  height: 284px;
  width: 400px;
  padding: $main-font-size;
  border-bottom-left-radius: $modal-border-radius;
  border-bottom-right-radius: $modal-border-radius;
  background-color: $main-bg-color;
  align-items: center;
  justify-content: space-around;
  font-size: $hier-font-size;

  &__field {
    margin-top: $main-font-size;
    border: none;
    border-bottom: 2px solid $main-color;
    color: $main-color;
    height: $main-font-size * 2;
    font-size: $main-font-size;
    width: auto;
    &[name="title"] {
      width: 360px;
    }
    &[name="description"] {
      width: 360px;
    }
    &:hover {
      border: none;
      border-bottom: 2px solid $akcent-color;
    }
    &:focus {
      border: none;
      border-bottom: 2px solid $akcent-color;
      outline: none;
    }
  }
  &__time {
    width: 100%;
    height: $main-font-size * 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__submit-btn {
    border: none;
    height: $main-font-size * 2;
    width: 68.5px;
    align-self: flex-end;
    border-radius: $main-border-radius;
    margin-top: auto;
    background-color: $akcent-color;
    color: $main-bg-color;
    &:hover {
      background-color: $akcent-color-dark;
    }
  }
}
