// стили отображаемого в календаре события
.event {
  position: relative;
  padding: $main-font-size / 2;
  color: $main-bg-color;
  background-color: $akcent-color;
  width: 13vw;
  border-radius: $modal-border-radius;
  z-index: 2;
  top: 2px;
  left: 2px;
  overflow: hidden;
  box-shadow: $popup-shadow;
  &:hover .event__description {
    display: block;
    margin-right: 8px;
    overflow-y: scroll;
  }
  &:hover {
    // max-height: auto !important;
    // width: auto !important;
    overflow-y: scroll;
  }
  &__title {
    font-size: $hier-font-size;
  }
  &__time {
    font-size: $lower-font-size;
  }
  &__description {
    display: none;
    font-size: $main-font-size;
    background-color: $akcent-color;
    margin-right: 8px;
  }
}
