$main-bg-color: white;

$main-color: rgb(112, 117, 122);
$main-color-light: #f1f3f4;
$main-color-dark: #3c4043;
$akcent-color: #1a73e8;
$event-color: rgb(63, 81, 181);
$red-color: red;
$main-font-size: 18px;
$lower-font-size: ($main-font-size * 0.75);
$hier-font-size: ($main-font-size * 1.25);

$main-border-radius: ($main-font-size / 4);
$modal-border-radius: ($main-font-size / 2);
